.header-search {
  width: 100%;
  padding: 0.8rem 0.9rem;
  font-size: 1.2rem;
  border: 1px solid $border-second;
  outline: none;
  font-weight: 300;
  font-style: italic;
  font-family: inherit;
}
