
$main-black: #333;
$main-black-hover: #555;
$main-red: #ff6666;
$main-white: #ffffff;
$main-green: #3cce7b;
$bg-main: #e2e2e2;
$bg-second: #f5f5f5;
$border-second: #ccc;
$border-hover: #aaa;

$laptop-bp: 1024px;
$hide-nav-menu: 740px;
$lg-mobile-bp: 425px;